html, body {
  height: 100%; 
  margin: 0; 
}

body{
  width:100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
}
main{
  margin-top: 60px;
  width:470px;
  height: 800px;
  color: #333;
  font-size:0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  min-height: 550px; /* 初期高さを固定 */
  max-height: 650px; /* 必要なら最大高さを設定 */
  background-color: rgba(240, 248, 255, 0.4);
  overflow-y: auto; /* 縦スクロールを有効化 */
  padding-top: 0.1rem;
  display: flex;
  flex-direction: column; /* 縦に並べる */
  align-items: flex-start; /* 左寄せ */
  justify-content: flex-start; /* 上から並べる */
  border: solid 1px #333;
  border-radius: 10px;
  box-shadow: 6px 6px gainsboro;
  font-size: 1rem;
}

form::-webkit-scrollbar {
  display: none;
}

.member-hiddens {
  display: none;
}

.main-title {
  width: 100%;
  text-align: center;
}

.shifts {
  width: 100%;
  height: 300px;
}

.shifts a {
  text-decoration: none;
  display: block;
  width: 50%;
  height: 40px;
  color: black;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  margin: 50px auto;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  text-align: center;
  background: rgb(200, 247, 255);
  text-align: center;
  font-weight: 600;
  background-color: #adf4fd;
  color: #333;
  cursor: pointer;
  box-shadow: 0 1px #f8a0d9;
  border: none;
  text-decoration: none;
  transition: 0.4s;
  display: flex;
  align-items: center; /* 縦方向の中央揃え */
  justify-content: center; 
}

.shifts a:hover {
  box-shadow:  0 2px lightcyan;
  background-color: #f8a0d9;
}