/*スマホ向け*/
@media (max-width: 465px) {
    html {
        height: 100vh;
        max-width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0; 
    }
    
    body {
        max-width: 100vw;
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
    }

    form {
        width: 100%;
        min-height: 100vh;
        overflow-x: hidden;
        border: none;
    }

    main {
        width: 100%;
        height: 100vh;
        margin-top: 0px;
    }

    .logo h3 {
        margin-top: 20px;
    }
}


@media (min-width: 466px) and (max-width: 620px) {
    main {
        width: 65%;
        min-height: 80%;
    }

    form {
        min-height: 80%;
    }
}

@media  (min-width: 621px) and (max-width: 850px) {
    body {
        width: 100%;
        min-height: 70%;
    }

    main {
        margin-top: 0;
        width: 60%;
        height: 95%;
    }

    form {
        height: 100%;
    }
}

