<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUICK SHIFT</title>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/addStore.css">
    <link rel="stylesheet" href="../css/humbar.css">
    <link rel="stylesheet" href="../css/media.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../img/logo.svg">
            <h3>QUICK SHIFT</h3>
        </div>
        <div class="humbar" onclick="activeClick()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>
    <main>
        <form th:action="@{/confirmAddStore}" method="post" th:object="${addStoreForm}">
            <h2>店舗情報の登録</h2>
            <div class="tmp">
                <h3 class="adpas">店舗名</h3> 
                <input type="text" class="form2" placeholder="略称でも可" th:field="*{name}">
				<h3 class="erm" th:if="${#fields.hasErrors('name')}" th:text="${#fields.errors('name')[0]}"></h3>
            </div>
            <div class="tmp">
                <h3 class="adpas"> スタッフログイン用パスワード</h3>
                <div class="pass-area">
                    <input type="password"  class="form5" placeholder="パスワードを入力してください" th:field="*{pass1}">
                    <span id="buttonEye1" class="fa fa-eye-slash" onclick="viewChange1()"></span>
                </div>
                <div class="pass-area">
                    <input type="password"  class="form3" placeholder="確認用" th:field="*{pass2}">
                    <span id="buttonEye2" class="fa fa-eye-slash" onclick="viewChange2()"></span>
                </div>
                <h3 class="erm" th:if="${#fields.hasErrors('pass1')}" th:text="${#fields.errors('pass1')[0]}"></h3>
            </div>
            <div class="form4">
                <div class="button">
                    <h4><a href="javascript:history.back()">戻る</a></h4>
                </div>
                <div class="button2">
                    <h4><input type="submit" name="action" value="確認"></h4>
                </div>
            </div>
        </form> 
    </main>
</body>
<script src="../js/eye.js"></script>
<script src="../js/humbar.js"></script>
</html>