<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QUICK SHIFT</title>
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/humbar.css">
  <link rel="stylesheet" href="../css/adminEditHome.css">
  
</head>
<body>
  <header>
    <div class="logo">
        <img src="../img/logo.svg">
        <h3>QUICK SHIFT</h3>
    </div>
    <div class="humbar" onclick="activeClick()">
        <span></span>
        <span></span>
        <span></span>
    </div>
  </header>
  <main>
    <form>
      <div class="main-title">
        <h3>シフト編集</h3>
        <h4>編集したいシフトを選択してください</h4>
      </div>
      <div class="shifts">
        <a onclick="be()">締め切り前のシフト</a>
        <a onclick="af()">締め切り後のシフト</a>
        <a onclick="javascrupt:history.back()">戻る</a>
      </div>
    </form>
  </main>
</body>
<script src="../js/adminEditHome.js"></script>
</html>