<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUICK SHIFT</title>
    <link rel="stylesheet" href="../css/resultCreateAccount.css">
    <link rel="stylesheet" href="../css/media_NoneHeader.css">
</head>
<body>
    <main>
        <form>
            <img src="../img/logo.svg" alt="logo">
            <h2 class="tmp">管理者登録が完了しました</h2>
            <h4 class="button3"><a th:href="@{/}">ログイン画面へ</a></h4>
        </form>
    </main>
</body>
<script src="../js/humbar.js"></script>
</html>