<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QUICK SHIFT</title>
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/humbar.css">
  <link rel="stylesheet" href="../css/resultClosingShift.css">
  <link rel="stylesheet" href="../css/ress.css">
  <link rel="stylesheet" href="../css/media.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
</head>
<body>
  <header>
    <div class="logo">
        <img src="../img/logo.svg">
        <h3>QUICK SHIFT</h3>
    </div>
    <div class="humbar" onclick="activeClick()">
        <span></span>
        <span></span>
        <span></span>
    </div>
  </header>
  <main>
    <form th:action="@{/adminHome}" method="POST">
      <div class="main-title">
        <h3>確定シフト</h3>
        <h4>シフトが確定しました</h4>
        <h4>以下の共有ボタンを押して共有してください</h4>
      </div>
      <div class="code">
        <div class="qr-code">
        </div>
        <div class="url-code">
          <a class="code-text"></a>
          <p class="error"></p>
          <a class="share">共有する</a>
        </div>
      </div>
      <div class="footer">
        <input type="submit" value="ホームに戻る">
      </div>
    </form>
  </main>
  <div class="url-hidden">
    <input type="hidden" class="url" value="http://localhost:8080/memberLogin?storeId=1">
  </div>
</body>
<script src="../js/humbar.js"></script>
<script src="../js/resultClosingShift.js"></script>
<script src="../js/urlEncode.js"></script>
</html>